
@{
    ViewBag.Title = "Transfer";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="card shadow-sm p-4 mt-4">
    <h3 class="text-success mb-3">Transfer Money</h3>

    <form method="post">
        <div class="mb-3">
            <label>From Account ID</label>
            <input type="number" name="fromId" class="form-control" required />
        </div>
        <div class="mb-3">
            <label>To Account ID</label>
            <input type="number" name="toId" class="form-control" required />
        </div>
        <div class="mb-3">
            <label>Amount (₹)</label>
            <input type="number" name="amount" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-success w-100">Transfer</button>

        <div class="text-danger mt-3">@ViewBag.Error</div>
        <div class="text-success mt-3">@ViewBag.Message</div>
    </form>
</div>

